{% extends "layout.html" %}
{% block content %}

<div class="page-title">
    <div class="container">
        <h1>Contact</h1>
        <!--<p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
            inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores.
        </p>-->
    </div>
</div>
<div class="wrapper d-flex align-items-stretch" style="/*background-color: #e9d9c6*/">
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='img/banner2-3.jpg') }}" class="img-fluid">
            </div>
            <div class="col-md-6 h-center-col">
                <b>Marija Blašković</b><br>
                MSCA Postdoc Fellow<br>
                Departament d'Humanitats<br>
                Universitat Pompeu Fabra<br>
                Ramon Trias Fargas, 25-27 | 08005 Barcelona
                <div class="d-flex gap-10">
                    <span class="material-symbols-outlined">mail</span>
                    <a href="mailto:marija.blaskovic@upf.edu" target="_blank">email</a>
                    <span class="material-symbols-outlined">home</span>
                    <a href="https://www.upf.edu/web/marija-blaskovic" target="_blank">homepage</a>
                    <span class="material-symbols-outlined">language</span>
                    <a href="https://twitter.com/marijablas" target="_blank">twitter</a>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content%}
{% block scripts %}
{% endblock %}