{% extends "layout.html" %}
{% block content %}

<div class="page-title">
    <div class="container">
        <h1>Database Codebook</h1>
        <!--<p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
            inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores.
        </p>-->
    </div>
</div>

<div class="wrapper d-flex align-items-stretch">
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                Database codebook
            </div>
        </div>
    </main>
</div>

{% endblock content%}

{% block scripts %}

{% endblock %}