{% extends "layout.html" %}
{% block content %}

<form id="filterForm" method="post" action="{{ url_for('main.update_filters') }}">
<div class="row border-bottom mb-2">
    <div class="col-lg-4">
        <input class="form-control" type="search" name="filter_search_value" id="filter_search_value" placeholder="Free Text Search" value="{{ filter_search_value }}">
    </div>
    <div class="col">
        <h1 class="mb-4" style="text-align: center;  font-size: xx-large;">People</h1>
    </div>
</div>
<div class="row">
    {% if not filter_search_value %}
    <div class="col-lg-2 filter-box">
        <h3>Filter by</h3>
        <div id="accordion2" class="filterby">
            <div class="card">
                <div class="card-header" id="headingPeople">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePeople" aria-expanded="true" aria-controls="collapsePeople">
                            People <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapsePeople" class="collapse" aria-labelledby="headingPeople">
                    <div class="body-card">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        {% if filter_people_value[0] == "individual" %}
                                        <input type="radio" id="people_individual" name="people" value="individual" checked>
                                        {% else %}
                                        <input type="radio" id="people_individual" name="people" value="individual">
                                        {% endif %}
                                        <label for="people_individual">Anon. individual</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if filter_people_value[0] == "groups" %}
                                        <input type="radio" id="people_groups" name="people" value="groups" checked>
                                        {% else %}
                                        <input type="radio" id="people_groups" name="people" value="groups">
                                        {% endif %}
                                        <label for="people_groups">Anon. groups</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if filter_people_value[0] == "name" %}
                                        <input type="radio" id="people_name" name="people" value="name" checked>
                                        {% elif filter_people_value and filter_people_value[0] in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                                        <input type="radio" id="people_name" name="people" value="name" checked>
                                        {% else %}
                                        <input type="radio" id="people_name" name="people" value="name">
                                        {% endif %}
                                        <label for="people_name">Name</label>
                                    </td>
                                </tr>
                                {% if filter_people_value[0] == "name" or (filter_people_value and filter_people_value[0] in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ') %}
                                <tr>
                                    <td>
                                        {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                                            {% if letter not in unique_people_list %}
                                                <input type="radio" id="people_{{ letter }}" name="people" value="{{ letter }}" disabled>
                                            {% else %}
                                                {% if letter in filter_people_value %}
                                                    <input type="radio" id="people_{{ letter }}" name="people" value="{{ letter }}" checked>
                                                {% else %}
                                                    <input type="radio" id="people_{{ letter }}" name="people" value="{{ letter }}">
                                                {% endif %}
                                            {% endif %}
                                        <label for="people_{{ letter }}">{{ letter }}</label>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if unique_kinships_list %}
            <div class="card">
                <div class="card-header" id="headingKinship">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseKinship" aria-expanded="true" aria-controls="collapseKinship">
                            Kinship <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapseKinship" class="collapse" aria-labelledby="headingKinship">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for filter in unique_kinships_list %}
                                <tr>
                                    <td>
                                        {% if filter in filter_consang_kinship_value %}
                                        <input type="checkbox" id="kinship_{{ filter }}" name="kinship" value="{{ filter }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="kinship_{{ filter }}" name="kinship" value="{{ filter }}" >
                                        {% endif %}
                                        <label for="kinship_{{ filter }}">{{ filter }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if unique_religion_list %}
            <div class="card">
                <div class="card-header" id="headingReligion">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseReligion" aria-expanded="true" aria-controls="collapseReligion">
                            Religion <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapseReligion" class="collapse" aria-labelledby="headingReligion">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for religion in unique_religion_list %}
                                <tr>
                                    <td>
                                        {% if religion in filter_religion_value %}
                                        <input type="checkbox" id="religion_{{ religion }}" name="religion" value="{{ religion }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="religion_{{ religion }}" name="religion" value="{{ religion }}">
                                        {% endif %}
                                        <label for="religion_{{ religion }}">{{ religion }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if unique_religion_flag_list %}
            <div class="card">
                <div class="card-header" id="headingReligionFlag">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseReligionFlag" aria-expanded="true" aria-controls="collapseReligionFlag">
                            Religion Flag <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapseReligionFlag" class="collapse" aria-labelledby="headingReligionFlag">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for religion in unique_religion_flag_list %}
                                <tr>
                                    <td>
                                        {% if religion in filter_religion_flag_value %}
                                        <input type="checkbox" id="religion_flag_{{ religion }}" name="religion_flag" value="{{ religion }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="religion_flag_{{ religion }}" name="religion_flag" value="{{ religion }}">
                                        {% endif %}
                                        <label for="religion_flag_{{ religion }}">{{ religion }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if unique_traits_list %}
            <div class="card">
                <div class="card-header" id="headingTraits">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTraits" aria-expanded="true" aria-controls="collapseTraits">
                            Traits <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapseTraits" class="collapse" aria-labelledby="headingTraits">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for trait in unique_traits_list %}
                                <tr>
                                    <td>
                                        {% if trait in filter_traits_value %}
                                        <input type="checkbox" id="trait_{{ trait }}" name="trait" value="{{ trait }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="trait_{{ trait }}" name="trait" value="{{ trait }}" >
                                        {% endif %}
                                        <label for="trait_{{ trait }}">{{ trait }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if unique_partnership_list %}
            <div class="card">
                <div class="card-header" id="headingPartnership">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePartnership" aria-expanded="true" aria-controls="collapsePartnership">
                            Marital status (Partnership) <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapsePartnership" class="collapse" aria-labelledby="headingPartnership">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for partnership in unique_partnership_list %}
                                <tr>
                                    <td>
                                        {% if partnership in filter_partnership_value %}
                                        <input type="checkbox" id="partnership_{{ partnership }}" name="partnership" value="{{ partnership }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="partnership_{{ partnership }}" name="partnership" value="{{ partnership }}">
                                        {% endif %}
                                        <label for="partnership_{{ partnership }}">{{ partnership }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if unique_motherhood_list %}
            <div class="card">
                <div class="card-header" id="headingMotherhood">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMotherhood" aria-expanded="true" aria-controls="collapseMotherhood">
                            Motherhood <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapseMotherhood" class="collapse" aria-labelledby="headingMotherhood">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for motherhood in unique_motherhood_list %}
                                <tr>
                                    <td>
                                        {% if motherhood in filter_motherhood_value %}
                                        <input type="checkbox" id="mothergood_{{ motherhood }}" name="motherhood" value="{{ motherhood }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="mothergood_{{ motherhood }}" name="motherhood" value="{{ motherhood }}">
                                        {% endif %}
                                        <label for="mothergood_{{ motherhood }}">{{ motherhood }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if unique_violence_list %}
            <div class="card">
                <div class="card-header" id="headingViolence">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseViolence" aria-expanded="true" aria-controls="collapseViolence">
                            Violence & Transgression <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapseViolence" class="collapse" aria-labelledby="headingViolence">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for violence in unique_violence_list %}
                                <tr>
                                    <td>
                                        {% if violence in filter_physical_violence_value %}
                                        <input type="checkbox" id="violence_{{ violence }}" name="violence" value="{{ violence }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="violence_{{ violence }}" name="violence" value="{{ violence }}">
                                        {% endif %}
                                        <label for="violence_{{ violence }}">{{ violence }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if unique_passing_away_list %}
            <div class="card">
                <div class="card-header" id="headingPassingAway">
                    <h5 class="mb-0">
                        <span class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePassingAway" aria-expanded="true" aria-controls="collapsePassingAway">
                            Death <img src="../static/img/arrow-up.png" class="arrow">
                        </span>
                    </h5>
                </div>
                <div id="collapsePassingAway" class="collapse" aria-labelledby="headingPassingAway">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for passing_away in unique_passing_away_list %}
                                <tr>
                                    <td>
                                        {% if passing_away in filter_passing_away_value %}
                                        <input type="checkbox" id="passing_away_{{ passing_away }}" name="passing_away" value="{{ passing_away }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="passing_away_{{ passing_away }}" name="passing_away" value="{{ passing_away }}">
                                        {% endif %}
                                        <label for="passing_away_{{ passing_away }}">{{ passing_away }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="col-lg-2">
        <div class="border-bottom mb-2 cccolor">
            {% if criteria_options or filter_search_value %}
                <h3>Criteria</h3>
                <a class="diamond mb-3" href="{{ url_for('main.home') }}">Clear criteria</a>
            {% else %}
                <h3>Criteria</h3>
            {% endif %}
            {% if filter_search_value %}
            <p><span class="criteriatitle">Search:</span> {{ filter_search_value }}</p>
            {% endif %}
            {% if filter_people_value %}
            <p><span class="criteriatitle">People:</span> <span class="criteriavalue">{{ filter_people_value[0] }}</span></p>
            {% endif %}
            {% if filter_consang_kinship_value %}
            <p><span class="criteriatitle">Kindship:</span> {% for item in filter_consang_kinship_value %}  <span class="criteriavalue">{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            {% if filter_religion_value %}
            <p><span class="criteriatitle">Religion:</span> {% for item in filter_religion_value %}  <span class="criteriavalue">{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            {% if filter_religion_flag_value %}
            <p><span class="criteriatitle">Religion flag:</span> {% for item in filter_religion_flag_value %}  <span class="criteriavalue">{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            {% if filter_traits_value %}
            <p><span class="criteriatitle">Traits:</span> {% for item in filter_traits_value %}  <span class="criteriavalue">{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            {% if filter_partnership_value %}
            <p><span class="criteriatitle">Partnership:</span> {% for item in filter_partnership_value %}  <span class="criteriavalue">{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            {% if filter_motherhood_value %}
            <p><span class="criteriatitle">Motherhood:</span> {% for item in filter_motherhood_value %}  <span class="criteriavalue"{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            {% if filter_physical_violence_value %}
            <p><span class="criteriatitle">Violence & Transgression:</span> {% for item in filter_physical_violence_value %}  <span class="criteriavalue">{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            {% if filter_passing_away_value %}
            <p><span class="criteriatitle">Death:</span> {% for item in filter_passing_away_value %}  <span class="criteriavalue">{{ item }}</span> | {% endfor %} </p>
            {% endif %}
            
        </div>
        <div>
            {% if criteria_options or filter_search_value%}
            <h3>Results</h3>
            {% for case in filtered_cases %}
            <span class="result-case case-input" onclick="toggleExtraClass(this)" data-case-id="{{ case.id }}">{{ case.cases_people.standard_name }}</span>
            {% endfor %}

            {% else %}
            Chooze your criteria or search text
            {% endif %}

        </div>
    </div>
    <div class="col">
        {% for case in filtered_cases %}
        <div id="case-{{ case.id }}" class="case-details">
            <div class="row mb-3">
                <div class="col-9">
                    <h2>{{ case.cases_people.standard_name.split(',')[0] }}</h2>
                    <h3>{{ case.cases_people.standard_name.split(',')[1] }}</h3>
                </div>
                {% if case.cases_people.wikidata %}
                <div class="col">
                    <h4>Wikidata:</h4>
                    <h3>{{ case.cases_people.wikidata }}</h3>
                </div>
                {% endif %}
            </div>
            <div class="row myborderbottom">
                <div>
                    <strong>About:</strong> {{ case.cases_people.about }}
                </div>
                {% if case.cases_people.recorded_names %}
                <div>
                    <strong>Recorded names:</strong> {{ case.cases_people.recorded_names }}
                </div>
                {% endif %}
            </div>
            <div class="row mb-2">
                <div class="{{case.cases_people.standard_name.split(',')[0]}} xyz">
                    {{ case.case_summary }}
                </div>
                <div class="case-exc">
                    {{ case.excerpt }}
                </div>
                <div class="case-ref myborderbottom pt-2">
                    Reference: {{ case.reference }}
                </div>
                <div class="case-cri">
                    {% if case.consang_kinship and case.consang_kinship|length > 2 %}
                    <div>
                        <span class="diamondsm">Consanguinity</span>
                            {% set temp = case.consang_kinship.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_consang_kinship_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if case.religion and case.religion|length > 2%}
                    <div>
                        <span class="diamondsm">Religion</span>
                            {% set temp = case.religion.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_religion_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if case.religion_flag and case.religion_flag|length > 2 %}
                    <div>
                        <span class="diamondsm">Religion flag</span>
                            {% set temp = case.religion_flag.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_religion_flag_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if case.traits and case.traits|length > 2 %}
                    <div>
                        <span class="diamondsm">Traits</span>
                            {% set temp = case.traits.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_traits_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if case.partnership and case.partnership|length > 2 %}
                    <div>
                        <span class="diamondsm">Partnership</span>
                            {% set temp = case.partnership.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_partnership_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if case.motherhood and case.motherhood|length > 2 %}
                    <div>
                        <span class="diamondsm">Motherhood</span>
                            {% set temp = case.motherhood.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_motherhood_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if case.physical_violence and case.physical_violence|length > 2 %}
                    <div>
                        <span class="diamondsm">Violence & Transgression</span>
                            {% set temp = case.physical_violence.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_physical_violence_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if case.passing_away and case.passing_away|length > 2 %}
                    <div>
                        <span class="diamondsm">Death</span>
                            {% set temp = case.passing_away.removeprefix("[").removesuffix("]") %}
                            {% set temp = temp.split(", ") %}
                            {% for item in temp %}
                                {% set item = item.removeprefix('"').removesuffix('"') %}
                                {% if item in filter_passing_away_value %}
                                    <strong>{{ item }}</strong>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                    </div>
                    {% endif %}
                    <hr>
                </div>
                {% if case.notes %}
                <div>
                    Notes: {{ case.notes }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</form>


{% endblock content%}

{% block scripts %}
<script>
    // Postavi kursor na kraj stringa u input polju
    function setCursorToEnd(el) {
        el.focus();
        if (typeof el.selectionStart == "number") {
            el.selectionStart = el.selectionEnd = el.value.length;
        } else if (typeof el.createTextRange != "undefined") {
            el.focus();
            var range = el.createTextRange();
            range.collapse(false);
            range.select();
        }
    }

    let typingTimer;
    const doneTypingInterval = 1000; // 1 sekunda

    document.addEventListener('DOMContentLoaded', function() {
        const filterSearchInput = document.getElementById('filter_search_value');
        
        filterSearchInput.addEventListener('input', function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(() => {
                console.log('identifikovan input u search polje');
                document.getElementById('filterForm').submit();
            }, doneTypingInterval);
        });

        filterSearchInput.addEventListener('keydown', function() {
            clearTimeout(typingTimer);
        });

        // Postavi kursor na kraj stringa u input polju prilikom učitavanja stranice
        if (filterSearchInput.value.length > 0) {
            setCursorToEnd(filterSearchInput);
        }

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function () {
                document.getElementById('filterForm').submit();
            })
        });

        var radios = document.querySelectorAll('input[type="radio"]');
        radios.forEach(function(radio) {
            radio.addEventListener('change', function () {
                document.getElementById('filterForm').submit();
            })
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.case-input').click(function() {
            var caseId = $(this).data('case-id');
            console.log("kliknut je input element: " + caseId);
            $('.case-details').hide(); // sakrij sve detalje slučajeva

            // prikaži samo detalje za odabrani slučaj
            $('#case-' + caseId).show();
        });
    });
</script>

<script>
    // Check local storage for checked checkboxes
    $(document).ready(function() {
      // Restore checked checkboxes
      $("input[type='checkbox']").each(function() {
        var checkboxId = $(this).attr('id');
        var checked = localStorage.getItem(checkboxId);
        if (checked !== null) {
          $(this).prop('checked', checked === 'true');
        }
      });
  
      // Handle checkbox change event
      $("input[type='checkbox']").change(function() {
        var checkboxId = $(this).attr('id');
        localStorage.setItem(checkboxId, $(this).prop('checked'));
      });
  
      // Open the toggle box if any checkbox within it is checked
      $(".collapse").each(function() {
        var $collapse = $(this);
        if ($collapse.find("input[type='checkbox']:checked").length > 0) {
          $collapse.addClass("show");
        }
      });
    });
  </script>
  <script>
    // Get all elements with class 'xyz'
    var elements = document.getElementsByClassName('xyz');

    // Iterate over each element
    for (var i = 0; i < elements.length; i++) {
        var element = elements[i];
        var text = element.textContent;

        // Get all classes of the current element
        var classes = element.classList;

        // Iterate over each class
        classes.forEach(function(className) {
            // Highlight specific words based on class name
            if (className !== 'xyz') {
                text = text.replace(new RegExp(className, 'g'), '<strong>' + className + '</strong>');
            }
        });

        // Update the HTML content of the element
        element.innerHTML = text;
    }
</script>

<script>
    function toggleExtraClass(element) {
        var spans = document.querySelectorAll('.result-case');
        spans.forEach(function(span) {
            span.classList.remove('clickedspan');
        });
        element.classList.add('clickedspan');
    }
</script>

{% endblock %}