.top-bar { background-color: #333333; color: #b1b1b1; padding: 10px 0; }
.top-bar a { color: #c68e55; text-decoration: none; }
.top-bar a:hover { color: #fe8f1e; }
header.site-header { border-bottom: 5px solid #fff;}
nav.navbar { background-color: #eee; }
nav.navbar .navbar-collapse { flex-grow: unset; }
nav.navbar .navbar-nav .nav-link { font-weight: 600; position: relative; }
nav.navbar .navbar-nav .nav-link:after { content: ''; width: 50px; height: 3px; background-color: #c9c9c9; bottom: 0; display: flex; margin: 10px auto 0 auto; }
nav.navbar .navbar-nav .nav-link.active:after, nav.navbar .navbar-nav .nav-link:hover:after { background-color: #809a3b; }
.page-title { background-image: url('img/paper-bg-2.jpg'); background-size: cover; background-position: bottom center; background-repeat: repeat-x; padding: 30px 0 60px 0; }
.page-title h1 { color: #9d0000; font-size:  36px; font-weight: 600; margin-bottom: 30px; }
.filterby .card-header {padding: 0;}
.filterby span.btn.btn-link { display: flex; justify-content: space-between; align-items: center; text-align: left; text-decoration: none; color: #333333 }
.arrow { transition: transform 0.3s ease; }
.collapsed .arrow { transform: rotateX(180deg);height: fit-content; }